/** code by webdevtrick ( https://webdevtrick.com ) **/



@font-face {
    font-family: "ultima_black";
    src: url("Ultima/ultima_black-webfont.woff") format("woff");


}

@font-face {

    font-family: "Ultima_Bold_italic";
    src: url("Ultima/ultima_bold_italic-webfont.woff") format("woff");

}


@font-face {

    font-family: "ultima_bold";
    src: url("Ultima/ultima_bold-webfont.woff") format("woff");

}

@font-face {

    font-family: "ultima_italic";
    src: url("Ultima/ultima_italic-webfont.woff") format("woff");

}

@font-face {

    font-family: "ultima_light_italic";
    src: url("Ultima/ultima_light_italic-webfont.woff") format("woff");

}

@font-face {

    font-family: "ultima_light";
    src: url("Ultima/ultima_light-webfont.woff") format("woff");

}

@font-face {

    font-family: "ultima";
    src: url("Ultima/ultima-webfont.woff") format("woff");

}

*{
    padding: 0;
    margin: 0;
}

body {

    font-family: ultima_light;
overflow-x: hidden !important;

}


.PinkCircle{
    margin-left: 50px;
    width:5vw;
    height:5vw;
    text-align: center ;
    line-height:50px;
    background-color: #FFBCB0;
    letter-spacing: 2px;
    border-radius: 100px;
    border: none;
}

.LoginButtonLayoutBlue{
    padding: 1.2vw;
    background: #7A93DC;
    border-radius: 15px;

    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.2vw;

    white-space: nowrap;

    color: white;
    font-family: ultima_light;

    border: none;
}

.SectionFontHeader{

    font-family: ultima_light;
   
    letter-spacing: 1px;
    text-align: center;

}
.block-3{
    float: left;
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
}

.clear{
    clear: both;
}
.flex{
    display: flex;
}
.vertical-align{

    color:#FFBCB0;
    font-size: 6.7vw;
    letter-spacing: 1px;

    writing-mode: vertical-rl;

}

.LoginButtonLayoutCoral{
    padding: 1.2vw;
    background: #FFBCB0;
    letter-spacing: 2px;
    border-radius: 15px; 
    white-space: nowrap;
    /*    Removes link on text*/
    text-decoration: none;
    color: black;
    font-family: ultima_light;
    font-size: 1.3vw;
    border: none;
}

.pictureButton{
    background-size: cover;
    background-repeat: no-repeat;
    width:5vw;
height: 5vw;
border-radius: 50%;
    
}




.nav-bar {
    font-family: ultima_light;
    height: 70px;
    background: none;
    margin-top: 20px;
}

.brand {
    position: absolute;
    padding-left: 0px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    
}

.brand a img {
    max-height: 70px;
}

.brand a,
.brand a:visited {
    color: #ffffff;

    text-decoration: none;
}

.nav-container {
    max-width: 1300px;
    margin: 0 auto;
    
}

nav {
    float: right;
    background: white;
}
nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {

    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background:none;
    color: #666;
    text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
    border-bottom-color:#7A93DC;
    border-bottom-style: solid;



}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    background-color: white;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.container{
    width: 85%;
    margin: auto;
}

.navbarlogin{

    border-radius: 15px;
    background: #FFBCB0;
    height: 75px;
    margin-left: 20px;

}
.vdo-btn{
    width: 50px;
    height: 50px;
}
.big-text{
    font-size: 96px;
}
.line-sm{
    width: 20px;
    border-bottom-style: solid;    
    border-bottom-color: #7a93DC;
    border-bottom-width: 4px;;
}
.center{
    text-align: center;
}
.block{
    float: left;
    box-sizing: border-box;
}
.p1-0{
    display: inline-block;
    width: 100%;
}

.p1-0-2 img{
    width: 40vw;
    height: 30vw;
    margin-left: 50px;
}
.p1-0-1 {
    width: 35%;
} 

.p1-0-2{
    width: 65%;
}
@keyframes mymove {
    50%  { margin-left: 750px; top: 150px;}
}



.p1-1 {
    letter-spacing: 2px;
    white-space: nowrap;
    margin-left: 9%;
    
}


.p1-2-1{
    font-family: ultima_bold;
    font-size: 3vw;
}

.p1-2-2{
    font-family: ultima_bold_italic;
    font-size: 1.3vw;
}






.p1-3{
    margin-left: 9%;
}


.p1-3-0{
    margin-top:2%;
    position:absolute;

}





.p1-3-1{
    position: absolute;
    float: left;
    width: 2.3vw;
    margin-top:2.5%;
    
    margin-left:22%;


}

.p1-3-2{
    position: absolute;
    margin-top:3%;
    font-size: 1.2vw;
    margin-left: 26%;
    

}
.p2-7{
    margin-top:5%;
}

.p2-8{
    margin-left: 2%;
    font-size:8vw;

}  

.loop{
    float:left;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px;
}
.loop img{
    width: 12vw;
}

.loop div{
    display: inline-block;
    width: 33%;
}

.p2-0{
    position: relative;
    margin-top: 100px;
}
.p2-0-1{
    color: #7A93DC;
    margin-bottom: 100px;
}

.p2-0-2{
    display: flex ;
    margin: 30px;
}


.p2-1-2{
 display: inline-block;
 width: 70%;
 padding-left: 30px;
 padding-top: 20px;

}

.p2-0-0{
 width: 80%;
}



.p2-4{
    position: absolute;
    right: 50px; 
    top: 200px;
}

.p2-5{
 margin-top: 30px;
}


.p3-0{
    margin-top: 100px;
    background-color: #7A93DC;
    height: auto;
}


.p3-1{
    padding-top: 50px;
    color: #FFBCB0; 
}
.p3-2{
    margin-top: 20px;
}

.p3-3{
    margin-top: 50px;
    width:59vw;
    height:33vw;
}




.p3-4{
    margin: 50px 0;
}


.p4-0{
    position: relative;
    margin-top: 100px;
}

input.p4-5:focus{
    outline-width: 0;
}


.p4-5{
    position:absolute;
    margin-top:20%;
    width:22vw;
    height:15vw;
    left:7%;
    border-radius: 20%;
    object-fit: cover;
}

.p4-1{
    color: #7A93DC;
}
.p4-2{
    margin-top: 100px;
    font-size: 2.5vw;
    text-align: center;
}


.p4-3{
    position: absolute;
    top: 200px;
    right: 50px

}

.p4-4{
padding-top: 100px;
  
}




.p4-4-6{
    display:none;
}


.p4-4-1{
    position: absolute;
    background-image:url("Img/Faimages/fashop_bg5.jpg");


}


.p4-4-2{
      background-image:url("Img/Faimages/picture5.jpeg");
    
    margin-left: 15%;
        position: absolute;


}

.p4-4-3{
      background-image:url("Img/Faimages/title-image1.jpeg");
    margin-left: 30%;
        position: absolute;

}

.p4-4-4{
      background-image:url("Img/Faimages/picture4.jpeg");
    margin-left: 48%;
        position: absolute;

}

.p4-4-5{
      background-image:url("Img/Faimages/picture2.jpeg");
    margin-left: 65%;
        position: absolute;


}

.p5-0{
    margin-top: 100px;
    padding-top: 100px;
    background-color: #7A93DC;
    height: auto;
}

.p5-1{
    color: #FFBCB0;
}


.p5-2{
     font-size: 1.3vw;
    margin-top:50px;
}

.p5-7{

   
}
.block-3 img{
    width: 300px;
    height: 600px;
}

.p5-3{
   

}
.p5-4{
   

}

.p5-5{
  
}



.p5-6{
margin: 50px 0;
}

.p6{
    margin-top: 100px;
    position: relative;
}





.p6-0{
    color: #7A93DC;
    font-size:6.7vw;

}
.p6-0-0{
 margin-top: 50px;
   }

.p6-0-1{
 float: left;
 width: 25%;
}
.p6-0-2{
    float: left;
    width: 75%;
   }


.p6-1{

    position:absolute;
    
        background-image:url("Img/Faimages/picture2.jpeg");
    
   


}


.p6-2{

    margin-top:6%;
    position: absolute;
    background-image:url("Img/Faimages/picture6.jpeg");


}


.p6-3{

    margin-top:12%;
    position: absolute;
    background-image:url("Img/Faimages/fashop_bg5.jpg");


}


.p6-4{
background-image:url("Img/Faimages/picture3.jpeg");
    margin-top:18%;
    position: absolute;

}



.p6-5{
background-image:url("Img/Faimages/picture5.jpeg");
    margin-top:24%;
    position: absolute;
}



.p6-6{
    width: 700px;
    height: 500px;
    border-radius: 12%;
    object-fit: cover;
} 



.p6-7{
    position: absolute;
    margin-top: 200px;
    right: 50px;
}



.p7-0{
    margin-top: 100px;
    background-color: #7A93DC;
    height:auto;
}

.p7-1{
    margin-top: 5%;
    justify-content: space-between;
}





.p7-2{
    padding-top: 50px;
    color: #FFBCB0;
    font-size: 5vw;
    text-align: center;
}
.p7-3{
    display: inline-block;
}
.p7-3 img{
    width: 31vw;
    height: 28vw;
    border-radius: 20%;

} 


.p7-4{
    margin: 50px;
}

.p7-5 img{
     width: 31vw;
    height: 28vw;
    border-radius: 20%;
   
} 

.p8-0{
    position: relative;
    margin-top: 100px;
    height: auto;
}

.p8-1{
    color: #7A93DC;
    text-align: center;
    font-size: 6.5vw;
}

.p8-2{
    padding-top: 50px;
    font-size: 1.7vw;
    text-align: center;
    width:60%;
}



.p8-3{
    position:absolute;
    right: 50px;
    top: 200px;
}


.p8-4{
    margin-top: 50px;
    width:53vw;
    height:6vw;
    font-size: 2vw;
    text-align: center;

    padding: 10px;
    border: 2px solid #666  ;
    border-radius: 20px;
    font-family: ultima_light;

}

.p8-5{
    margin-top: 30px;
    width:53vw;
    height:6vw;
    font-size: 2vw;
    text-align: center;

    padding: 10px;
    border: 2px solid #666;
    border-radius: 25px;
    font-family: ultima_light;


}

.p8-6{
    margin-top: 50px;
    width:3vw;
    height:1.6vw;
}
.p8-6-1{
        font-size: 1.3vw;
        width:60%;
}




.p8-7{
    margin-top: 100px;
    white-space: nowrap;
}


.p8-7-0{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.p8-7-1{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.p8-8{
    text-align: center;
    font-size: 1.3vw;

    width:100%;

}

.p8-8-0{
    color:#FFBCB0;
}

.p8-8-0:visited{
    color:#FFBCB0;
}



.p9-0{
    background-color: #7A93DC;
    height:auto;
    width:100%;
    margin-top: 50px;
}




.p9-1{
    padding-top: 100px;
    font-size: 8vw;
    letter-spacing: 1px;
    text-align: center;
}

.p9-2{
    font-size: 2vw;
    border: 1px solid white;
    margin: 60px;
}




.f1-0{  
    background-color: #FFBCB0;
    width: 100%;
    height: auto;

}
.f1-0-0{
    padding-top: 50px;
    width: 95%;
    margin: auto;
    font-size: 24px;
}
.f1-1{
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
}
.f1-5-0{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.f1-5-1 img{
    width: 100px;
    height: 100px;
}

.f1-5-6{
    display: flex;
}
.f1-5-6 a{
    padding: 10px;
}
.f1-5-6 a img{
    width: 60px;
    height: 60px;
}

.f1-1-1{
    list-style: none;
    text-decoration: none;
}
.f1-1-1 li{
    padding: 5px;
}







a:link {

    text-decoration: none;
}

a:visited{
    color:#7A93DC;
}


.p1-3-0:hover, .p1-2-3:hover, .p1-3-1:hover, .p2-5:hover, .p8-7:hover{
    background-color: #FFBCB0;
}

.PinkCircle:hover, .p3-4:hover, .p5-6:hover, .p7-4:hover, .p9-2:hover{
    color:white;

}








 /*Ipad Pro Responsive*/

@media screen and (max-width: 1024px) {
 
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
        font-size: 180%;

    }
    nav ul {
        font-family: ultima_light;
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;
        color: #666;

    }
    nav ul li ul li a {
        padding-left: 30%;
    }

    .nav-dropdown {
        position: static;
    }
    .brand a img {
        max-height: 60px;
        margin-top: 5px;
    }


    .PinkCircle{  
        width:2vw;
        height:2vw;  
        background-color: #FFBCB0;
        letter-spacing: 0px;
        border-radius: 100px;
        border-style: none;
     
    }
    
    
.pictureButton{
    background-size: cover;
    background-repeat: no-repeat;
    width:8vw;
    height: 8vw;
    border-radius: 50%;
        
}



    .LoginButtonLayoutBlue{
        padding: 1.7vw;
        background: #7A93DC;
        border-radius: 2vw;

        letter-spacing: 2px;
        text-decoration: none;
        font-size: 2.5vw;

        white-space: nowrap;

        color: white;
        font-family: ultima_light;

        border: none;
    }

    .SectionFontHeader{

        font-family: ultima_light;
        letter-spacing: 1px;
        text-align: center;

    }


    .vertical-align{

        color:#FFBCB0;
        font-size: 110px;
        letter-spacing: 1px;

        writing-mode: vertical-rl;

    }

    .LoginButtonLayoutCoral{
        padding: 1.9vw;
        background: #FFBCB0;
        letter-spacing: 2px;
        border-radius: 2.5vw; 
        white-space: nowrap;
        text-decoration: none;
        color: black;
        font-family: ultima_light;
        font-size:3vw; 

        border: none;
    }
    
    .p1-0{
    margin-top:0%;
    }



    .p1-0-1{

    } 







    .p1-1{

    }
    .p1-2-1{
        font-size: 4.5vw;
    }
    .p1-2-2{
        font-size: 2.5vw;
    }

    .p1-3-0{
        text-align: center;
    }


    .p1-3{
       
    }

    .p1-3-1{

     


    }

    .p1-3-2{
    
    }



    .p2-7{
      

    .p2-8{
        margin-top:0%;
        margin-left: 1%;
        font-size:8vw;

    }

    .loop{
        margin-top: 50px; 
    }

    .loop1{
        margin-left: 0%; 

        width:20vw;


    }
    .loop2{


    }
    .loop3{

    }


  


    .p2-0{
 
    }

    .p2-10{

    }
    


    .p2-1{
    
        
        
    }
    .p2-1-2{

        
    }


    .p2-5{
        display:none;
    }

    .p2-4{
        display:none;
    }



    .p3-0{
        
       
    }

    .p3-1{
        color: #FFBCB0; 
        text-align: center;
        padding-top: 50px;
    }


    .p3-2{
        display:block;
        margin-left: 2%;
        margin-top: 27%;
        font-size: 3.1vw;
        width:90%;
    }



    .p3-3{

        width:94vw;
        height:55vw;

    }

    .p3-4{
    
    }






    .p4-5{
        display: none;
    }

    .p4-0{
     
    }

    .p4-1{
        word-wrap: break-word;
    }

    .p4-2{
        display: inline-block;
        font-size: 3vw;
        width:70%;
        text-align: center;
    }

    .p4-3{
        display:none;
    }



    .p4-4{
    
        
    }

    .p4-4-1{margin-left: 0%;}
    .p4-4-2{margin-left: 20%;}
    .p4-4-3{margin-left: 40%;}
    .p4-4-4{margin-left: 60%;}
    .p4-4-5{margin-left: 80%;}





    .p5-0{
    
    }

    .p5-1{
 
    }

    .p5-2{
     

    .p5-7{
    
    }


    .p5-3{
       
    }
    .p5-4{
    
    }
    .p5-5{
     

    }

    .p5-6{
   
    }



    .p6{ 


    }

    .p6-0{
 
    }
    

    .p6-6{
      
    }


    .p6-0-1{
  

    }

    .p6-1-2{

    }

    .p6-2{
        margin-top:16%;
    }

    .p6-2-2{
   


    }

    .p6-3{
      
    }
    .p6-3-2{
        


    }

    .p6-4{
       
    }

    .p6-4-2{
     


    }

    .p6-5{
       
    }

    .p6-5-2{

    }


    .p6-7{
        display:none;
    }





    .p7-0{

    }


    .p7-2{
        margin-left: 0px;
        font-size: 10vw;
    }

    .p7-1{

        margin-top: 10%;
        margin-left: 0%;
    }

    .p7-3{
        width:100vw;
        height:60vw;
        margin-left: 0%;
        margin-top: 0%;

    }

    .p7-4{


    }

    .p7-5{


    }


    .p8-0{

    }


    .p8-1{


    }

    .p8-2{


    }

    .p8-3{
        display: none;
    }

    .p8-4{
       
        width:86vw;
        height:9vw;
        font-size: 3vw;
        text-align: center;

        border: .3vw solid #666;
        border-radius: 20px;
    }

    .p8-5{
       
        width:86vw;
        height:9vw;
        font-size: 3vw;
        border: .3vw solid #666;
        border-radius: 20px;
    }



    .p8-6{
    
        width:4vw;
        height:4vw;
        border-radius: 20%;
    }

    .p8-6-1{
     
        font-size: 2.8vw;
        width:80%;
    }

    .p8-7{
 
    }

    .p8-8{
     
        font-size: 2.8vw;
        width:80%;

    }


    .p9-0{
       
        width:100%;
        height: 68vw;
     
    }

    .p9-1{
       
        width:100%; 
    }

    .p9-2{
      
        font-size: 5vw;
   
        padding: 4%;
        border-radius: 20px;
        width:45%;

        border: 2px solid white;

    }


    



    .p10-0{

    }
    .p10-1{
     
    }

    .p10-2{


       

    }

    .p10-3{


       

    }

    .p10-4{


       

    }
    
    
    

    .p10-5{


       

    }

    .p10-6{

        

    }
    
     .f1-5-0{
       display:none;

    }

    .f1-0{
        
    }



    .f1-1{
       
    }
    .f1-1-0{
    
    }
    .f1-1-2{
       
    }

    .f1-2{
       

    }
    .f1-2-0{
            
    }
    .f1-2-2{
       
    }

    .f1-3{
       

    }

    .f1-3-0{
                
    }
    .f1-3-2{
       
    }

    .f1-4{
        

    }
    .f1-4-0{
              
    }
    .f1-4-2{
       
    }


}

@media screen and (max-width: 411px){
    .p1-1{
        margin-left: 25%;
    }
    
    .p3-1{
     
    }
    
        .p3-4{
         
        }
        
       
    
    .p5-6{
        margin-left: 18%; 
    }
    
     
    
    
    .p7-4{
        margin-left: 20%;
    }
    
    .p8-4{
        height:7vw;
    }
    .p8-5{
        height:7vw;
    }
}
